!
! Configuration (c) Elijah Stuenkel, CCNA, 2024
!
! Set device hostname
hostname R2
! Enable IPv6
ipv6 unicast-routing
!
! Configuring the Serial 0 interface
interface Serial0/1/0  
 ip address 10.0.0.2 255.255.255.0
 ipv6 address 10::2/64
! Advertise IPv4 and IPv6 networks over ISIS
 ip router isis
 ipv6 router isis
 no shutdown
!
interface Serial0/1/1  
 ip address 9.1.0.1 255.255.255.0
 ipv6 address 9:1::1/64
 clock rate 115200
! Advertise IPv4 and IPv6 networks over ISIS
 ip router isis
 ipv6 router isis
 no shutdown
!
! Configure ISIS
router isis
 net 49.0001.0000.0000.0002.00
! ISIS level 1 for intra-area routing 
 is-type level-1-2 
! New metric style for IPv6
 metric-style wide
 log-adjacency-changes
!
! Following commands for ease of use
no ip domain-lookup
line con 0
 logging synchronous
!
end
